<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration Form
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-xl="4" size-lg="6" size-md="9" size-xs="12">
        <ion-card>
          <ion-item color="primary" text-center>
            <ion-label class="header">Registration Form</ion-label>
          </ion-item>
          <ion-card-content>

            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
              <ion-item>
                <ion-label position="floating">User Name*</ion-label>
                <ion-input formControlName="userName" type="text" required></ion-input>
              </ion-item>

              <ion-label *ngIf="gUserName.hasError('required')" color="danger" position="stacked">User Name is Required
              </ion-label>
              <ion-label *ngIf="gUserName.hasError('minlength')" color="danger" position="stacked">User Name must be at
                least 4 characters</ion-label>
              <ion-label *ngIf="gUserName.hasError('notUnique')" color="danger" position="stacked">User Name is already
                taken</ion-label>
              <ion-label *ngIf="gUserName.pending" color="warning" position="stacked">Please wait, checking User Name
              </ion-label>

              <ion-item>
                <ion-label position="floating">Display Name*</ion-label>
                <ion-input formControlName="displayName" type="text" required></ion-input>
              </ion-item>

              <ion-label *ngIf="gDisplayName.hasError('required')" color="danger" position="stacked">Display Name is
                Required</ion-label>
              <ion-label *ngIf="gDisplayName.hasError('minlength')" color="danger" position="stacked">Display Name must
                be at least 4 characters</ion-label>
              <ion-label *ngIf="gDisplayName.hasError('notUnique')" color="danger" position="stacked">User Name is
                already taken</ion-label>
              <ion-label *ngIf="gDisplayName.pending" color="warning" position="stacked">Please wait, checking Display
                Name</ion-label>

              <ion-row padding-top>
                <ion-col>
                  <ion-button [color]="registerForm.invalid ? 'warning' : 'success' " expand="full" type="submit">
                    Register
                  </ion-button>
                  <ion-item lines="none">
                    <ion-label size="small">* Required fields</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

            </form>
          </ion-card-content>
        </ion-card>
        <ion-list lines="none">
          <ion-item>
            The JSON data used in this app is visible here &nbsp; <a href="https://jsonplaceholder.typicode.com/users"
              target="_new"> json placeholders</a>
          </ion-item>
          <ion-item>
            <ion-label text-wrap color="primary">User Name is validated,after a specified period, against "username" in the database. e.g. Bret, Samantha, Antonette, Karianne</ion-label>
          </ion-item>
          <ion-item>
              <ion-label text-wrap color="secondary">Display Name is validated, when the field loses focus, against "name" in the database. e.g. Leanne Graham, Ervin Howell, Patricia
            Lebsack, Chelsey Dietrich</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>